@page "/helloworld-backstage/configure"
@inject ILocalStorageService LocalStorage
@inject ILogger<Configure> Log
@inject IJSRuntime JSRuntime;

<header class="@Today.BackgroundClass">
    <img src="@Today.ImagePath"
         class="logo-image" />
</header>

<main>
    <article>
        <h1 class="@Today.ForegroundClass">Configure</h1>

        @if (CurrentSession != null)
        {
            <EditForm EditContext="@CurrentEditContext">
                <DataAnnotationsValidator />

                <div class="edit-area">
                    <p class="form-label">Session name</p>
                    <p class="form-explanation">Enter a friendly name to identify this session</p>
                    <InputText class="medium-input-text"
                               @bind-Value="@CurrentSession.SessionName" />
                </div>

                <div class="edit-area">
                    <p class="form-label">Countdown (hh:mm:ss)</p>
                    <p class="form-explanation">Enter the hours, minutes and seconds that the clock should countdown from</p>

                    <div class="config-time">
                        <InputNumber class="short-input-text"
                                     @bind-Value="@CurrentSession.ClockMessage.CountDownHours" />&nbsp;:&nbsp;<InputNumber class="short-input-text"
                                                                                                                           @bind-Value="@CurrentSession.ClockMessage.CountDownMinutes" />&nbsp;:&nbsp;<InputNumber class="short-input-text"
                                                                                                                                                                                                                   @bind-Value="@CurrentSession.ClockMessage.CountDownSeconds" />
                    </div>
                </div>

                <div class="edit-area">
                    <p class="form-label">'Running' color</p>
                    <p class="form-explanation-color"
                       style="background-color: @CurrentSession.ClockMessage.RunningColor">The color to which the background will turn when the clock is running. <a href="https://colorpicker.me/">Online colorpicker</a></p>
                    <InputText class="medium-input-text"
                               @bind-Value="@CurrentSession.ClockMessage.RunningColor" />
                </div>

                <div class="edit-area">
                    <p class="form-label">'Pay attention' (hh:mm:ss)</p>
                    <p class="form-explanation">Enter the hours, minutes and seconds from which the screen turns to the 'Pay attention' color (see below)</p>

                    <div class="config-time">
                        <InputNumber class="short-input-text"
                                     @bind-Value="@CurrentSession.ClockMessage.PayAttentionHours" />&nbsp;:&nbsp;<InputNumber class="short-input-text"
                                                                                                                              @bind-Value="@CurrentSession.ClockMessage.PayAttentionMinutes" />&nbsp;:&nbsp;<InputNumber class="short-input-text"
                                                                                                                                                                                                                         @bind-Value="@CurrentSession.ClockMessage.PayAttentionSeconds" />
                    </div>
                </div>

                <div class="edit-area">
                    <p class="form-label">'Pay attention' color</p>
                    <p class="form-explanation-color"
                       style="background-color: @CurrentSession.ClockMessage.PayAttentionColor">The color to which the background will turn when the clock reaches the 'Pay attention' time above. <a href="https://colorpicker.me/">Online colorpicker</a>.</p>
                    <InputText class="medium-input-text"
                               @bind-Value="@CurrentSession.ClockMessage.PayAttentionColor" />
                </div>

                <div class="edit-area">
                    <p class="form-label">'Almost done' (hh:mm:ss)</p>
                    <p class="form-explanation">Enter the hours, minutes and seconds from which the screen turns to the 'Almost done' color (see below)</p>

                    <div class="config-time">
                        <InputNumber class="short-input-text"
                                     @bind-Value="@CurrentSession.ClockMessage.AlmostDoneHours" />&nbsp;:&nbsp;<InputNumber class="short-input-text"
                                                                                                                            @bind-Value="@CurrentSession.ClockMessage.AlmostDoneMinutes" />&nbsp;:&nbsp;<InputNumber class="short-input-text"
                                                                                                                                                                                                                     @bind-Value="@CurrentSession.ClockMessage.AlmostDoneSeconds" />
                    </div>
                </div>

                <div class="edit-area">
                    <p class="form-label">'Almost done' color</p>
                    <p class="form-explanation-color"
                       style="background-color: @CurrentSession.ClockMessage.AlmostDoneColor">The color to which the background will turn when the clock reaches the 'Almost done' time above. <a href="https://colorpicker.me/">Online colorpicker</a></p>
                    <InputText class="medium-input-text"
                               @bind-Value="@CurrentSession.ClockMessage.AlmostDoneColor" />
                </div>

                <ValidationSummary />

            </EditForm>
        }
        else
        {
            <blockquote class="warning"><strong>NO SESSION FOUND:</strong> Please go back to <a href="/helloworld-backstage/host">the Host page</a> and make sure a session is active.</blockquote>
        }
    </article>
</main>

<footer class="@Today.FooterClass">
</footer>