@page "/guest"
@page "/guest/{Session}"
@inject HttpClient Http
@inject ILogger<Guest> Log
@inject IConfiguration Config
@inject ILocalStorageService LocalStorage

<main style="background-color: @Handler.BackgroundColor">
    <div class="background"
         style="background-color: @Handler.BackgroundColor">
        <article>
            @if (IsEditingGuestName)
            {
                <input class="h1-edit-field" @bind-value="@GuestName" />
            }
            else
            {
                <h1>@GuestName</h1>
            }

            @if (!Handler.IsBusy)
            {
                <div class="edit-link"><a href="#" @onclick="EditGuestName" @onclick:preventDefault>(@EditGuestNameLinkText)</a></div>
            }

            @if (Program.IsExperimental)
            {
                <blockquote class="warning"><strong>WARNING:</strong> This is an experimental version of Timekeeper currently in development. This can be unstable and cause issues. Use only for test purposes.</blockquote>
            }

            <div class="clock-area">
                <p><span class="clock-text">@Handler.ClockDisplay</span></p>
            </div>

            <div class="message-area">
                <p><span class="message-text">@Handler.CurrentMessage</span></p>
            </div>

            <blockquote>
                Timekeeper is a simple app running on PC, Mac and mobile phones. It allows a host and their guests (for example on a live stream) to keep track of time.
                <br /><br />
                More information at <a href="https://github.com/lbugnion/timekeeper">Timekeeper on GitHub</a>
                <br /><br />
                Twitter: Laurent Bugnion <a href="https://twitter.com/lbugnion">@@LBugnion</a>
            </blockquote>
        </article>
    </div>
</main>

<footer>
    <span class="status-message error-message">@Handler.ErrorStatus</span><span class="status-message">@Handler.Status</span>
</footer>