<div class="chat @Chat.CssClass" 
        style="background-color: @Chat.DisplayColor">
    <div class="chat-name">@Chat.SenderName @Chat.Suffix</div>
    <div class="chat-message">@GetMarkup(Chat.MessageHtml)</div>
    <div class="chat-datetime">@Chat.MessageDateTime.ToShortTimeString()</div>

    <button class="chat-like-button @Chat.ButtonLikeCssClass @Chat.BackgroundLikeCssClass"
            title="@Chat.LikeButtonTitle">
        <i class="fas fa-thumbs-up @Chat.LikeThumbCssClass"></i>
        <span>&nbsp;(@Chat.Likes.Count)</span>
    </button>

    <div class="chat-like-div @Chat.SpanLikeCssClass @Chat.BackgroundLikeCssClass"
            title="@Chat.LikeButtonTitle">
        <i class="fas fa-thumbs-up @Chat.LikeThumbCssClass"></i>
        <span>&nbsp;(@Chat.Likes.Count)</span>
    </div>
</div>
