@page "/configure"
@inject ILocalStorageService LocalStorage
@inject ILogger<Configure> Log
@inject IJSRuntime JSRuntime
@inject NavigationManager Nav

<header>
    <img src="images/header-logo.png"
         class="logo-image" />
</header>

<main>
    <article>
        <h1>@Branding.ConfigurePageTitle</h1>

        @if (CurrentClockMessage != null)
        {
            @if (CurrentClockMessage.WasDeleted)
            {
                <blockquote class="warning">This clock was deleted by another host.</blockquote>
            }
            else
            {
                <EditForm EditContext="@CurrentEditContext">
                    <DataAnnotationsValidator />

                    <blockquote class="warning"><strong>NOTE:</strong> Make sure to click outside of the text field after you edit it. There is a bug which might result in the Host page being blank when you go back. <strong>If this happens, simply refresh the Host page.</strong></blockquote>

                    <div class="edit-area">
                        <p class="form-label">Label</p>
                        <p class="form-explanation">Enter a friendly name to identify this clock</p>
                        <InputText class="medium-input-text"
                                   @bind-Value="@CurrentClockLabel" />
                    </div>

                    <div class="edit-area">
                        <p class="form-label">Overtime label</p>
                        <p class="form-explanation">Enter a text to be shown when the clock is running over.</p>
                        <InputText class="medium-input-text"
                                   @bind-Value="@CurrentClockMessage.OvertimeLabel" />
                    </div>

                    <div class="edit-area">
                        <p class="form-label">Countdown (hh:mm:ss)</p>
                        <p class="form-explanation">Enter the hours, minutes and seconds that the clock should countdown from</p>

                        <div class="config-time">
                            <InputNumber class="short-input-text"
                                         @bind-Value="@CurrentClockMessage.CountDownHours" />&nbsp;:&nbsp;<InputNumber class="short-input-text" @bind-Value="@CurrentClockMessage.CountDownMinutes" />&nbsp;:&nbsp;<InputNumber class="short-input-text" @bind-Value="@CurrentClockMessage.CountDownSeconds" />
                        </div>
                    </div>

                    <div class="edit-area">
                        <p class="form-label">'Running' color</p>
                        <p class="form-explanation-color"
                           style="background-color: @CurrentClockMessage.RunningColor">The color to which the background will turn when the clock is running. <a href="https://colorpicker.me/">Online colorpicker</a></p>
                        <InputText class="medium-input-text"
                                   @bind-Value="@CurrentClockMessage.RunningColor" />
                    </div>

                    <div class="edit-area">
                        <p class="form-label">'Pay attention' (hh:mm:ss)</p>
                        <p class="form-explanation">Enter the hours, minutes and seconds from which the screen turns to the 'Pay attention' color (see below)</p>

                        <div class="config-time">
                            <InputNumber class="short-input-text"
                                         @bind-Value="@CurrentClockMessage.PayAttentionHours" />&nbsp;:&nbsp;<InputNumber class="short-input-text" @bind-Value="@CurrentClockMessage.PayAttentionMinutes" />&nbsp;:&nbsp;<InputNumber class="short-input-text" @bind-Value="@CurrentClockMessage.PayAttentionSeconds" />
                        </div>
                    </div>

                    <div class="edit-area">
                        <p class="form-label">'Pay attention' color</p>
                        <p class="form-explanation-color"
                           style="background-color: @CurrentClockMessage.PayAttentionColor">The color to which the background will turn when the clock reaches the 'Pay attention' time above. <a href="https://colorpicker.me/">Online colorpicker</a>.</p>
                        <InputText class="medium-input-text"
                                   @bind-Value="@CurrentClockMessage.PayAttentionColor" />
                    </div>

                    <div class="edit-area">
                        <p class="form-label">'Almost done' (hh:mm:ss)</p>
                        <p class="form-explanation">Enter the hours, minutes and seconds from which the screen turns to the 'Almost done' color (see below)</p>

                        <div class="config-time">
                            <InputNumber class="short-input-text"
                                         @bind-Value="@CurrentClockMessage.AlmostDoneHours" />&nbsp;:&nbsp;<InputNumber class="short-input-text" @bind-Value="@CurrentClockMessage.AlmostDoneMinutes" />&nbsp;:&nbsp;<InputNumber class="short-input-text" @bind-Value="@CurrentClockMessage.AlmostDoneSeconds" />
                        </div>
                    </div>

                    <div class="edit-area">
                        <p class="form-label">'Almost done' color</p>
                        <p class="form-explanation-color"
                           style="background-color: @CurrentClockMessage.AlmostDoneColor">The color to which the background will turn when the clock reaches the 'Almost done' time above. <a href="https://colorpicker.me/">Online colorpicker</a></p>
                        <InputText class="medium-input-text"
                                   @bind-Value="@CurrentClockMessage.AlmostDoneColor" />
                    </div>

                    <ValidationSummary />

                </EditForm>
            }
        }
        else
        {
            <blockquote class="warning"><strong>NO CLOCK FOUND:</strong> Please go back to <a href="/host">the Host page</a> and make sure a session is active.</blockquote>
        }
    </article>
</main>

<footer>
    <div class="status-message about-link">| <a href="/about">About Timekeeper</a></div>
</footer>