@page "/host"
@page "/host/{ResetSession}"
@inject HttpClient Http
@inject ILogger<Host> Log
@inject IConfiguration Config
@inject ILocalStorageService LocalStorage
@inject NavigationManager Nav
@inject IJSRuntime JSRuntime

<header>
    <img src="images/header-logo.png"
         class="logo-image" />

    @if (Branding.MustAuthorize)
    {
        <AuthorizeView>
            <Authorized>
                <div class="connected-guests">
                    @Handler.ConnectedGuests.Count guest(s)
                </div>
            </Authorized>
        </AuthorizeView>
    }
    else
    {
        <div class="connected-guests">
            @Handler.ConnectedGuests.Count guest(s)
        </div>
    }

</header>

<main>
    @if (Branding.MustAuthorize)
    {
        <AuthorizeView>
            <Authorized>
                <div class="start-all-clocks-area">
                    <button @onclick="(e => Handler.StartAllClocks(true))">
                        @Handler.StartClocksButtonText
                    </button>
                </div>
            </Authorized>
        </AuthorizeView>
    }
    else
    {
        <div class="start-all-clocks-area">
            <button @onclick="(e => Handler.StartAllClocks(true))">
                @Handler.StartClocksButtonText
            </button>
        </div>
    }

    <article>
        @if (Branding.MustAuthorize)
        {
            <AuthorizeView>
                <NotAuthorized>
                    <blockquote class="warning">
                        Please <a href="/login">log in to use this page</a>.
                    </blockquote>
                </NotAuthorized>
                <Authorized>
                    <HostView Handler="@Handler"
                              SessionName="@SessionName" />
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            <HostView Handler="@Handler"
                      SessionName="@SessionName" />
        }

    </article>
</main>

<footer>
    @if (Branding.MustAuthorize)
    {
        <AuthorizeView>
            <Authorized>
                <div class="status-message"><span class="error-message">@Handler.ErrorStatus</span><span>@Handler.Status</span></div>
            </Authorized>
            <NotAuthorized>
                <div class="status-message error-message">Please log in</div>
            </NotAuthorized>
        </AuthorizeView>
    }
    else
    {
        <div class="status-message"><span class="error-message">@Handler.ErrorStatus</span><span>@Handler.Status</span></div>
    }

    <div class="status-message about-link">| <a href="/about">About Timekeeper</a></div>
</footer>


