@page "/"
@page "/{Session}"
@inject ILogger<Index> Log
@inject IConfiguration Config
@inject NavigationManager Nav
@inject IJSRuntime JSRuntime

<header class="@Branding.HeaderClass">
    <img src="@Branding.ImagePath"
         class="logo-image" />
</header>

<main>
    <article>
        <h1 class="@Branding.ForegroundClass">@Branding.MainPageTitle</h1>

        @if (Program.IsExperimental)
        {
            <blockquote class="warning"><strong>WARNING:</strong> This is an experimental version of Timekeeper currently in development. This can be unstable and cause issues. Use only for test purposes.</blockquote>
        }

        @if (Program.IsBeta)
        {
            <blockquote class="warning"><strong>BETA:</strong> This is the beta version of Timekeeper. <a href="https://github.com/lbugnion/timekeeper/issues">Please report issues here</a>. You can find the <a href="http://www.timekeeper.cloud">stable version of Timekeeper here</a>.</blockquote>
        }

        <h2 class="@Branding.ForegroundClass">Try it by yourself</h2>

        <div class="controls-area last-controls-area">
            <button @onclick="LogInHost">Log in as the host</button>
        </div>

        <p>Imagine that you are the host for a streamed show, doing some recordings, or any activity where you have a remote guest. One of the hardest parts is to keep track of time, and to let your guests know when the time is coming to an end.</p>

        <p>This application offers a solution to the problem.</p>

        <h2>Tutorial</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/ggTWG-2tp44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p>(<a href="/about#tutorial">More info</a>)</p>

        <blockquote>
            This tutorial shows how to log in into a protected version of Timekeeper. The version on this site is not protected by authorization.
            <br /><br />
            To get a protected version of Timekeeper, contact <a href="mailto:support@timekeeper.cloud">support@timekeeper.cloud</a>.
        </blockquote>

        <h2 class="@Branding.ForegroundClass">Features</h2>

        <ul>
            <li>Send the URL to your guests and ask them to load this on a phone, PC, Mac.</li>
            <li>When ready, start the clock. All your guests will see the exact same time.</li>
            <li>After a predefined time, the screen turns green, yellow and then red for all guests.</li>
            <li>The Host can send messages to the guests.</li>
            <li>The Host can configure the countdown time, as well as background colors at predefined times.</li>
            <li>The Host can prepare, save and run multiple sessions at once.</li>
            <li>The Host can create and publish polls for the viewers to vote on.</li>
        </ul>

        <h2 class="@Branding.ForegroundClass">Plans for later</h2>

        <ul>
            <li>The Host will be able to set up predefined messages.</li>
            <li>The Host will be able to pause/resume the clock.</li>
            <li>The Host will be able to chat with the guests.</li>
            <li>Maybe more...</li>
        </ul>
    </article>
</main>

<footer class="@Branding.FooterClass">
    <div class="status-message">Version: @ClientVersion @Beta @Environment</div>

    <div class="status-message about-link">| <a href="/about">About Timekeeper</a></div>
</footer>