@page "/login"
@page "/login/{Redirect}/{SessionId}"
@inject ILogger<LoginProviders> Log

@{
    var providers = new Dictionary<string, string>
    {
        { "github", "GitHub" },
        { "twitter", "Twitter" }
    };

    Log.LogDebug($"Redirect: {Redirect}");
    Log.LogDebug($"SessionId: {SessionId}");
}

<header class="@Branding.HeaderClass">
    <img src="@Branding.ImagePath"
         class="logo-image" />
</header>

<main>
    <article>
        <h1 class="@Branding.ForegroundClass">@Branding.LoginPageTitle</h1>

        <ul>
            @foreach (var provider in providers)
            {

                <li>
                    <a href="/.auth/login/@provider.Key?post_login_redirect_uri=/@Redirect/@SessionId">
                        Sign in with @provider.Value
                    </a>
                </li>
            }
        </ul>
    </article>
</main>

<footer class="@Branding.FooterClass">
    <div class="status-message">Please log in</div>

    <div class="status-message about-link">| <a href="/about">About Timekeeper</a></div>
</footer>