@using Timekeeper.DataModel
@inject ILogger<ManagePollsView> Log

@if (Parent.UiVisibility == ManagePolls.VisibilityVisible)
{
    <button @onclick="Parent.ToggleFocus"
            title="Toggle focus mode"
            class="focus">
        <i class="fas fa-expand"></i>
    </button>
}
else
{
    <button @onclick="Parent.ToggleFocus"
            title="Toggle focus mode"
            class="focus">
        <i class="fas fa-compress"></i>
    </button>
}

<h1 class="@Parent.UiVisibility @Branding.ForegroundClass">@Branding.PollsPageTitle</h1>

@if (Handler.CurrentSession != null
  && Handler.IsAuthorized != null
  && Handler.IsAuthorized.Value
  && !Handler.IsInError
  && !Handler.IsBusy)
{
    <h2 class="@Parent.UiVisibility @Branding.ForegroundClass">@SessionName</h2>

    @if (Handler.CurrentSession.Chats.Count == 0)
    {
        <p>No chats found yet...</p>
    }

    <div class="chat-controls">
        <EditForm EditContext="@CurrentEditContext">
            <DataAnnotationsValidator />

            <blockquote><strong>Tip: Use [Ctrl-Enter] to send the message!</strong></blockquote>

            <label for="question">Enter your text (markdown supported)</label>

            <textarea @bind="@NewChat.MessageMarkdown"
                      onfocus="this.select();"
                      onreadystatechange="this.focus();"
                      id="chat-text"
                      class="input-text" />

            <button>Send the chat</button>

            <input type="radio" 
                   id="useSecretKey" 
                   name="secretKey"
                   @onclick="e => UseSecretKey(1)">
            <label for="useSecretKey">Use secret key</label>

            <input type="radio" 
                   id="dontUseSecretKey" 
                   name="secretKey"
                   @onclick="e => UseSecretKey(0)">

            <label for="dontUseSecretKey">Don't use secret key</label>

        </EditForm>        
    </div>

    @foreach (var chat in Handler.CurrentSession.Chats)
    {
    }

    <hr />

    <div id="instructions">

        <h2>Links to send</h2>

        <p>Send this link to whomever you want to join the chat.</p>

        <p><a href="/display-chats/@Handler.CurrentSession.SessionId" target="_blank">
                Open the Chat window (for the guests)</a></p>

        @if (Handler.SecretKey != null)
        {
            <p>You must also send them this secret key so they can talk to you. Use email, a chat application or any other private communication to send this key.</p>

            <span id="secret-key">@Handler.SecretKey</span>
        }

    </div>
}
else
{
    <p>Please wait...</p>
}
