@using Timekeeper.DataModel
@inject ILogger<ManageChatsView> Log

@if (Model.Chats.ChatHost.IsDebugOffline)
{
    <button class="focus" @onclick="(async e => await Handler.AddDebugChat())">+</button>
}

@if (Parent.UiVisibility == ManagePolls.VisibilityVisible)
{
    <button @onclick="Parent.ToggleFocus"
            title="Toggle focus mode"
            class="focus">
        <i class="fas fa-expand"></i>
    </button>
}
else
{
    <button @onclick="Parent.ToggleFocus"
            title="Toggle focus mode"
            class="focus">
        <i class="fas fa-compress"></i>
    </button>
}

<h2 class="@Branding.ForegroundClass">@SessionName</h2>

@if (Handler.CurrentSession != null
  && Handler.IsAuthorized != null
  && Handler.IsAuthorized.Value
  && !Handler.IsInError
  && !Handler.IsBusy)
{
    <div class="chat-controls">
        <EditForm EditContext="@CurrentEditContext">
            <DataAnnotationsValidator />

            <blockquote class="@Parent.UiVisibility">
                <p><strong>Tip: Use [Ctrl-Enter] to send the message!</strong></p>
                <p><a href="/display-chats/@Handler.CurrentSession.SessionId" target="_blank">Send this link to whomever you want to join the chat.</a></p>

                @if (Handler.SecretKey != null)
                {
                    <p>You must also send them this secret key so they can talk to you. Use email, a chat application or any other private communication to send this key.</p>

                    <p><span id="secret-key">@Handler.SecretKey</span></p>
                }
            </blockquote>

            <div class="send-message-area">
                <label for="question">Enter your text (markdown supported)</label>

                <textarea @bind="@Handler.NewChat.MessageMarkdown"
                          onfocus="this.select();"
                          onreadystatechange="this.focus();"
                          id="chat-text"
                          class="input-text"
                          disabled="@Handler.IsSendingChat" />

                <br />
                <button @onclick="async e => await Handler.SendCurrentChat()"
                        disabled="@Handler.IsSendingChat">Send the message</button>
            </div>
        </EditForm>        
    </div>

    <hr />

    @if (Handler.CurrentSession.Chats.Count == 0)
    {
        <p>No chats found yet...</p>
    }

    <div id="chat-display-area">
        @foreach (var chat in Handler.CurrentSession.Chats)
        {
            <div class="chat-container @chat.ContainerCssClass">
                <div class="chat @chat.CssClass" 
                     style="background-color: @chat.Color">
                    <div class="chat-name">@chat.SenderName</div>
                    <div class="chat-message">@GetMarkup(chat.MessageHtml)</div>
                    <div class="chat-datetime">@chat.MessageDateTime.ToShortTimeString()</div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Please wait...</p>
}