@page "/guest"
@inject HttpClient Http
@inject ILogger<Guest> Log
@inject IConfiguration Config
@inject ILocalStorageService LocalStorage 

<main class="background-area @BackgroundClassName">
    <article>
        <h1>Guest</h1>

        @if (Program.IsExperimental)
        {
            <blockquote class="warning"><strong>WARNING:</strong> This is an experimental version of Timekeeper currently in development. This can be unstable and cause issues. Use only for test purposes.</blockquote>
        }

        <div class="clock-area">
            <p><span class="clock-text">@Handler.ClockDisplay</span></p>
        </div>

        <div class="message-area">
            <p><span class="message-text">@Handler.CurrentMessage</span></p>
        </div>

        <div>
            @if (Handler.CurrentSession != null)
            {
                @Handler.CurrentSession.SessionId
            }
        </div>
    </article>
</main>

<footer>
    <span class="status-message error-message">@Handler.ErrorStatus</span><span class="status-message">@Handler.Status</span>
</footer>