@page "/host"
@inject HttpClient Http
@inject ILogger<Host> Log
@inject Microsoft.Extensions.Configuration.IConfiguration Config

<div style="width: 100%; height: 100%"
     class="@BackgroundClassName">
    <h1>Host</h1>

    <div class="clock-area">
        <p><span class="clock-text">@Handler.ClockDisplay</span></p>
    </div>

    <div class="message-area">
        <p><span class="message-text">@Handler.CurrentMessage</span></p>
    </div>

    <div class="controls-area">
        <button @onclick="@Handler.StartClock">Start the clock</button>

        <br /><br />

        <button @onclick="@Handler.StopAllClocks">Stop the clock</button>

        <br /><br />

        <input @bind-value="@Handler.InputMessage" />

        <br />

        <button @onclick="@Handler.SendMessage">SendMessage</button>
    </div>
</div>

