@page "/host"
@inject HttpClient Http
@inject ILogger<Host> Log
@inject IConfiguration Config

<main class="@BackgroundClassName">
    <article>
        <h1>Host</h1>

        <div class="clock-area">
            <p><span class="clock-text">@Handler.ClockDisplay</span></p>
        </div>

        <div class="message-area">
            <p><span class="message-text">@Handler.CurrentMessage</span></p>
        </div>

        <div class="controls-area">
            <button disabled="@Handler.IsStartDisabled"
                    @onclick="@Handler.StartClock">
                Start the clock
            </button>
            <button disabled="@Handler.IsStopDisabled"
                    @onclick="@Handler.StopAllClocks">
                Stop the clock
            </button>

            <div class="send-message-area">
                <input @bind-value="@Handler.InputMessage" class="input-text" />
                <button @onclick="@Handler.SendMessage">Send Message</button>
            </div>
        </div>
    </article>
</main>

<footer>
    <span class="status-message error-message">@Handler.ErrorStatus</span><span class="status-message">@Handler.Status</span>
</footer>


