@page "/host"
@inject HttpClient Http
@inject ILogger<Host> Log
@inject IConfiguration Config
@inject ILocalStorageService LocalStorage
@inject NavigationManager Nav

<main class="@BackgroundClassName">
    <article>

        @if (IsEditingSessionName)
        {
            <input class="h1-edit-field" @bind-value="@SessionName" />
        }
        else
        {
            <h1>@SessionName</h1>
        }

        @if (!Handler.IsBusy)
        {
            <div class="edit-link"><a href="#" @onclick="EditSessionName" @onclick:preventDefault>(@EditSessionNameLinkText)</a></div>
        }

        @if (Program.IsExperimental)
        {
            <blockquote class="warning"><strong>WARNING:</strong> This is an experimental version of Timekeeper currently in development. This can be unstable and cause issues. Use only for test purposes.</blockquote>
        }

        <div class="clock-area">
            <p><span class="clock-text">@Handler.ClockDisplay</span></p>
        </div>

        <div class="message-area">
            <p><span class="message-text">@Handler.CurrentMessage</span></p>
        </div>

        <div class="controls-area">
            <button disabled="@Handler.IsStartDisabled"
                    @onclick="@Handler.StartClock">
                Start the clock
            </button>
            <button disabled="@Handler.IsStopDisabled"
                    @onclick="@Handler.StopAllClocks">
                Stop the clock
            </button>

            <div class="send-message-area">
                <input @bind-value="@Handler.InputMessage"
                       class="input-text" />
                <button disabled="@Handler.IsSendMessageDisabled"
                        @onclick="@Handler.SendMessage">
                    Send Message
                </button>
            </div>
        </div>

        <h2>Connection</h2>

        <div class="controls-area">
            <button disabled="@Handler.IsDeleteSessionDisabled"
                    @onclick="@Handler.DeleteSession">
                Delete session
            </button>
        </div>

        @if (Handler.CurrentSession != null)
        {
            <div class="session-information-area">
                <h3>Send this link to your guests so they can connect to the session:</h3>

                <p><a href="@GuestUrl">@GuestUrl</a></p>
            </div>
        }

    </article>
</main>

<footer>
    <span class="status-message error-message">@Handler.ErrorStatus</span><span class="status-message">@Handler.Status</span>
</footer>


